# EVALUATION - 1

Telecom Churn Datasets

Each row represents a customer; each column contains customerâ€™s attributes. The datasets have the following attributes or features:

State: string
Account length: integer
Area code: integer
International plan: string
Voice mail plan: string
Number vmail messages: integer
Total day minutes: double
Total day calls: integer
Total day charge: double
Total eve minutes: double
Total eve calls: integer
Total eve charge: double
Total night minutes: double
Total night calls: integer
Total night charge: double
Total intl minutes: double
Total intl calls: integer
Total intl charge: double
Customer service calls: integer
Churn: string ( 0-loyal users, 1- churned users)

In [ ]:
import pandas as pd

In [ ]:
df=pd.read_csv('https://raw.githubusercontent.com/Yorko/mlcourse.ai/master/data/telecom_churn.csv')

In [ ]:
df.head(5)

  State  Account length  ...  Customer service calls  Churn
0    KS             128  ...                       1  False
1    OH             107  ...                       1  False
2    NJ             137  ...                       0  False
3    OH              84  ...                       2  False
4    OK              75  ...                       3  False

[5 rows x 20 columns]

# 1. Display the number of rows of the dataset - 1 Mark

In [ ]:
def no_rows():
    # Write your code here
    row, col = df.shape
    return row # # Write your code here
no_rows()

3333

# 2. Select only string columns and display first 3 valueses - 1 Mark

In [ ]:
def col_name():
    # # Write your code here
    column = [col for col in df.columns if hasattr(df[col], 'str')]
    return df[column].head(3)# Write your code here
col_name()

  State International plan Voice mail plan
0    KS                 No             Yes
1    OH                 No             Yes
2    NJ                 No              No

# 3. Convert the churn datatype to int and display the type of churn column - 1 Mark

In [ ]:
def change_type():
    # Write your code here
    df["Churn"] = df["Churn"].astype(int)
    return df["Churn"].dtypes# Write your code here
change_type()

dtype('int64')

# 4. Print the most frequently occuring value for state, international plan and voice mail plan from summary statistics -  1 Mark

In [ ]:
def dis_summary():
    # Write your code here    
    return # Write your code here

dis_summary()

# 5. What is the percentage of churn in each category? - 1 Mark

In [ ]:
def perc_churn():
    # Write your code here
    return # Write your code here
perc_churn()

# 6. Sort the dataframe in the descending order of Total day charge and display first 5 states - 1 Mark

In [ ]:
def sort_disp():
    # Write your code here
    sorted_df = df.sort_values(["Total day charge"], ascending=False)
    return sorted_df["State"].head(5)# Write your code here
sort_disp()

365     CO
985     NY
2594    OH
156     OH
605     MO
Name: State, dtype: object

# 7. Sort the dataframe in the ascending order of churn and then dy descending order of total dat charge and display first area code and account length - 1 Mark

In [ ]:
def sort_val1():
    # Write your code here
    sorted_df1 = df.sort_values(by=['Churn', 'Total day charge'], ascending=[True, False])
    return sorted_df1[["Area code", "Account length"]].head(1)# Write your code here
sort_val1()

     Area code  Account length
688        510              13

# 8. What are average values of all columns for churned users? - 1 Mark

In [ ]:
def avg_churn():
    # Write your code here
    return df.groupby(df['Churn'] == '1').mean()# Write your code here
avg_churn()

       Account length   Area code  ...  Customer service calls     Churn
Churn                              ...
False      101.064806  437.182418  ...                1.562856  0.144914

[1 rows x 17 columns]

# 9. What is the maximum value of total international minutes for loyal users who do not have an international plan? - 1 Mark

In [ ]:
def max_val():
    # Write your code here
    return # Write your code here
max_val()

# 10. Display max value of all columns - 1 Mark

In [ ]:

def max_all():
    # Write your code here    
    return df.max()# Write your code here
max_all()

State                        WY
Account length              243
Area code                   510
International plan          Yes
Voice mail plan             Yes
Number vmail messages        51
Total day minutes         350.8
Total day calls             165
Total day charge          59.64
Total eve minutes         363.7
Total eve calls             170
Total eve charge          30.91
Total night minutes         395
Total night calls           175
Total night charge        17.77
Total intl minutes           20
Total intl calls             20
Total intl charge           5.4
Customer service calls        9
Churn                         1
dtype: object