In [1]:
#import statements
import pandas as pd
import numpy as np

In [23]:
data=pd.read_csv("https://raw.githubusercontent.com/dupadhyaya/pyAnaltyics1/master/f1/phone_data.csv")

In [24]:
data.head()

   index            date  duration  item    month   network network_type
0      0  15/10/14 06:58    34.429  data  2014-11      data         data
1      1  15/10/14 06:58    13.000  call  2014-11  Vodafone       mobile
2      2  15/10/14 14:46    23.000  call  2014-11    Meteor       mobile
3      3  15/10/14 14:48     4.000  call  2014-11     Tesco       mobile
4      4  15/10/14 17:27     4.000  call  2014-11     Tesco       mobile

#1. Consider special in network and network type as null value and replace that with the most frequent network type and display count of most frequent item count in both columns - 2 Marks

In [26]:
def null_replace():
  # write your code here
  data.loc[(data['network'] == 'special')] = None
  data.loc[(data['network_type'] == 'special')] = None
  no_network = data['network'].value_counts().max()
  no_network_type = data['network_type'].value_counts().max()
  return no_network,no_network_type
null_replace()

(215, 601)

# 2. Convert the date column to official datetime from object and display the type - 1 Mark

In [5]:
def change_type():
 # write your code here 
 data['date']=pd.to_datetime(data['date'])
 return data.dtypes['date']
change_type()

dtype('<M8[ns]')

#3. The longest phone call - 1 Mark

In [6]:
def longest_phone():
  #Write your code here
  long_val = max(data['duration'])  
  return long_val
longest_phone()

10528.0

#4. Split the month column to year and month_no and display how many entries are there in 2014 - 1 Marks

In [7]:
def month():
  # write your code here
  data[["year", "month_no"]] = data["month"].str.split("-", expand = True)
  count = (data['year']==2014).count()
  return count
month()

830

#5. What is the average call duration for 2015 , rounded to 2 decimal places - 1 marks

In [8]:
def avg_2015():
  #write your code here
  g = data.groupby('year')
  avg = g.get_group('2015')['duration'].mean()
  return round(avg,2)
avg_2015()

127.53

#6. What is the sum of durations, for calls only, to each network - 2 Marks

In [9]:
def sum_network():
  #write your code here
  g = data.groupby(['network','item'])
  Meteor = g.get_group(('Meteor','call'))['duration'].sum()
  Tesco = g.get_group(('Tesco','call'))['duration'].sum()
  Vodafone = g.get_group(('Vodafone','call'))['duration'].sum()
  return round(Meteor,1),round(Tesco,1),round(Vodafone,1)
sum_network()

(7200.0, 13828.0, 14621.0)

# 7. In the month of December how many calls are made from landline - 1 Mark

In [10]:
def december_landline():
  #write your code here
  g = data.groupby(['month_no','item','network_type'])
  val = g.get_group(('12','call','landline'))['index'].count()
  return val
december_landline()

7

#8. How many unique pairs are there in the dataset with network and network_type are same - 1 mark

In [37]:
def pair_val():
  # write your code here
  return val
pair_val()