Import required libraries here

In [2]:
#Import
import pandas as pd

Read the file [food.csv](https://corgis-edu.github.io/corgis/datasets/csv/food/food.csv) into a DataFrame named `df`.

In [3]:
# Write your code here
df = pd.read_csv("https://corgis-edu.github.io/corgis/datasets/csv/food/food.csv")

# Q1:  Edit the function `q1` such that it returns the number of rows of `df`.

In [4]:
def q1():
  # Write your code here
  row, col = df.shape
  return row# Write your code here

q1()

7083

From `df`, create another dataframe, named `data` having only the following columns:

* Category
* Description
*	Nutrient Data Bank Number
* Data.Cholesterol
* Data.Kilocalories
* Data.Protein
* Data.Sugar Total
* Data.Water

In [8]:
df.columns

Index(['Category', 'Description', 'Nutrient Data Bank Number',
       'Data.Alpha Carotene', 'Data.Beta Carotene', 'Data.Beta Cryptoxanthin',
       'Data.Carbohydrate', 'Data.Cholesterol', 'Data.Choline', 'Data.Fiber',
       'Data.Lutein and Zeaxanthin', 'Data.Lycopene', 'Data.Niacin',
       'Data.Protein', 'Data.Retinol', 'Data.Riboflavin', 'Data.Selenium',
       'Data.Sugar Total', 'Data.Thiamin', 'Data.Water',
       'Data.Fat.Monosaturated Fat', 'Data.Fat.Polysaturated Fat',
       'Data.Fat.Saturated Fat', 'Data.Fat.Total Lipid',
       'Data.Major Minerals.Calcium', 'Data.Major Minerals.Copper',
       'Data.Major Minerals.Iron', 'Data.Major Minerals.Magnesium',
       'Data.Major Minerals.Phosphorus', 'Data.Major Minerals.Potassium',
       'Data.Major Minerals.Sodium', 'Data.Major Minerals.Zinc',
       'Data.Vitamins.Vitamin A - RAE', 'Data.Vitamins.Vitamin B12',
       'Data.Vitamins.Vitamin B6', 'Data.Vitamins.Vitamin C',
       'Data.Vitamins.Vitamin E', 'Data.Vitamins.Vitamin K'],
      dtype='object')

In [9]:
data = df[['Category', 'Description', 'Nutrient Data Bank Number', 'Data.Cholesterol', 'Data.Protein', 'Data.Sugar Total', 'Data.Water']]
# Write your code here

# Q2: Edit the function q2 such that it sets the index of `data` to be the column `Nutrient Data Bank Number` permanently (`inplace`).

In [10]:
def q2():
  #Write your code here
  data.set_index('Nutrient Data Bank Number', inplace=True)

q2()

# Q3:  Edit the function `q3` such that it returns the number of columns of `data`.
Return type: int

In [11]:
def q3():
  # Write your code here
  row, col = data.shape
  return col # Write your code here

q3()

6

# Q4:  Edit the function `q4` such that it returns the total number of columns of `null` elements in the entire dataframe.
Return type: numpy.int64

In [12]:
def q4():
  # Write your code here
  count = data.isnull().sum().sum()
  return count # Write your code here

q4()

0

# Q5:  Edit the function `q5` such that it returns the total number of unique values in the columns `Category`.
Return type: int

In [13]:
def q5():
  # Write your code here  
  unique_value = data['Category'].nunique()
  return unique_value # Write your code here

q5()

2429

# Q6: Edit the function `q6` such that it returns the `series` (1-D dataframe) having the largest five values of `Data.Protein` in descending order.

Return type: pandas.core.series.Series

In [14]:
def q6():
  # Write your code here
  values=pd.Series(data['Data.Protein'])
  sorting=values.nlargest(5)  
  return sorting# Write your code here

q6()

Nutrient Data Bank Number
95230000    78.13
95230030    78.13
26153170    76.25
95201200    66.67
26137170    64.06
Name: Data.Protein, dtype: float64

# Q7: Edit the function `q7` such that it groups (`groupby`) `data` according to the column `Category` and saves its `description` into a dataframe named `descr`, and returns `descr`.
Return type: pandas.core.frame.DataFrame

In [15]:
def q7():
  #Write your code here
  g = data.groupby('Category')
  descr = g.describe() # Write your code here
  return descr
 
q7()

                               Data.Cholesterol         ... Data.Water
                                          count   mean  ...        75%    max
Category                                                ...
100 GRAND Bar                               1.0   12.0  ...     6.1000   6.10
3 MUSKETEERS Bar                            1.0    5.0  ...     5.8000   5.80
3 Musketeers Truffle Crisp Bar              1.0   18.0  ...     0.1800   0.18
Abalone                                     3.0  127.0  ...    58.7400  65.11
Adobo                                       2.0   73.5  ...    64.7675  65.25
...                                         ...    ...  ...        ...    ...
Zombie                                      1.0    0.0  ...    81.7900  81.79
Zucchini                                    1.0    0.0  ...    88.1100  88.11
Zucchini lasagna                            1.0    9.0  ...    76.5500  76.55
Zucchini soup                               1.0    3.0  ...    93.9400  93.94
Zwieback toast                              1.0    8.0  ...     4.5000   4.50

[2429 rows x 32 columns]

# Q8: Edit the function `q8` such that it uses `descr` to find the 25th percentile of food in the category 'CHEESE' and the 75th percentile of the food in the category 'CORN'. Return a tuple containing the answers in the  respective order.

Return type: tuple

In [16]:
def q8():
  # Write your code here
  x = data[data['Category'] == 'CHEESE']
  y = data[data['Category'] == 'CORN']
  cheese_25 = x.quantile(.25)
  cookies_75 = y.quantile(.75)
  return (cheese_25, cookies_75)

q8()

(Data.Cholesterol   NaN
 Data.Protein       NaN
 Data.Sugar Total   NaN
 Data.Water         NaN
 Name: 0.25, dtype: float64, Data.Cholesterol   NaN
 Data.Protein       NaN
 Data.Sugar Total   NaN
 Data.Water         NaN
 Name: 0.75, dtype: float64)


---

# Read the following files into dataframes: 

1. **LokSabhaMPs.xls** to the dataframe `mps`
2. Each sheet (there are six in total) of the file **Seventeenth Lok Sabha_Attendance.xlsx** to a list of DataFrames named `attendance`; i.e. each element of the list will be a DataFrame corresponding to a sheet in the file.

Preprocess, so that:

1. The dataframe `header` map to the row number where column names are listed.
2. Extra space at the end of `Member Name` are handled.

Description of the attendance dataset from http://loksabhaph.nic.in

---

S= The Member Signed the Register

S*= The Member signed through Mobile Attendance Application

S#= The Member signed through both the Register & Mobile Attendance Application

NS= The Member did not sign the register. (A Member might have attended the sitting of the House on a particular day but did not sign or forgot to sign the Register for that day )

NS@= Member was present but forgot to sign the Attendance Register

NR= Not Required. (Hon'ble Speaker, Deputy Speaker, Prime Minister and Minister usually do not sign the Members' Attendance Register)

In [17]:
mps = pd.read_excel("https://github.com/dayanandv/Data-Science/blob/main/Evaluation%201_Preprocessing/LokSabha_MPs.xls?raw=true", skiprows=2) # Write your code here

In [18]:
attendance = []
for i in range(6):
  val = pd.read_excel('https://github.com/dayanandv/Data-Science/blob/main/Evaluation%201_Preprocessing/Seventeenth%20Lok%20Sabha_Attendance.xlsx?raw==true',sheet_name=i)
  attendance.append(val)

# Q9. Edit the function `q9` such that it returns the attendance percentage (not fraction) of 'Shri Arjun Singh' in the 6th session (sheet number 6).

*You may have to typecast the return value of the filter to float.*

Return type: float

In [22]:
def q9():
  # Write your code here
  return # Write your code here
 
q9()

# Q10. Edit the function `q10` such that it returns the attendance percentage (not fraction) of 'Shri Manoj Tiwari' across all sessions.

*You may have to typecast the return value of the filter to float.*

Return type: float (default number of decimal places)

In [20]:
def q10():
  # Write your code here
  return # Write your code here

q10()

# Q11. Edit the function `q11` such that it calculates the attendance percentages of each member for each session and adds that into a new column named `Attendance Percentage` in each DataFrame.

In [24]:
def q11():
  # Write your code here

q11()

# Q12. Edit the function `q12` such that it merges `mps` and `attendance[0]` on the `Member Name` column into a new DataFrame named `merged`, and return `merged`. 

Drop the following columns: 
* `Division NO`
* `Member Name`
* `No. of days Members signed the Register`
* `No. of days Members not signed the Register`

Return type: pandas.core.frame.DataFrame

In [25]:
def q12():
  merged = # Write your code here
  return merged

q12()

# Q13. Edit the function `q13` such that it groups the DataFrame `merged` based on the column `Party Name` into a DataFrame named `gby`. Return a call of `describe()` on `gby`.

Return type: pandas.core.frame.DataFrame

In [26]:
def q13():
  # Write your code here
  return # Write your code here

q13()