Import required libraries here

In [ ]:
#Import

Read the file [food.csv](https://corgis-edu.github.io/corgis/datasets/csv/food/food.csv) into a DataFrame named `df`.

In [ ]:
# Write your code here

# Q1:  Edit the function `q1` such that it returns the number of rows of `df`.

In [ ]:
def q1():
  # Write your code here
  return # Write your code here

q1()

From `df`, create another dataframe, named `data` having only the following columns:

* Category
* Description
*	Nutrient Data Bank Number
* Data.Cholesterol
* Data.Kilocalories
* Data.Protein
* Data.Sugar Total
* Data.Water

In [ ]:
data = # Write your code here

# Q2: Edit the function q2 such that it sets the index of `data` to be the column `Nutrient Data Bank Number` permanently (`inplace`).

In [ ]:
def q2():
  #Write your code here

q2()

# Q3:  Edit the function `q3` such that it returns the number of columns of `data`.
Return type: int

In [ ]:
def q3():
  # Write your code here
  return # Write your code here

q3()

# Q4:  Edit the function `q4` such that it returns the total number of columns of `null` elements in the entire dataframe.
Return type: numpy.int64

In [ ]:
def q4():
  # Write your code here
  return # Write your code here

q4()

# Q5:  Edit the function `q5` such that it returns the total number of unique values in the columns `Category`.
Return type: int

In [ ]:
def q5():
  # Write your code here
  return # Write your code here

q5()

# Q6: Edit the function `q6` such that it returns the `series` (1-D dataframe) having the largest five values of `Data.Protein` in descending order.

Return type: pandas.core.series.Series

In [ ]:
def q6():
  # Write your code here
  return # Write your code here

q6()

# Q7: Edit the function `q7` such that it groups (`groupby`) `data` according to the column `Category` and saves its `description` into a dataframe named `descr`, and returns `descr`.
Return type: pandas.core.frame.DataFrame

In [ ]:
def q7():
  #Write your code here
  descr = # Write your code here
  return descr
 
q7()

# Q8: Edit the function `q8` such that it uses `descr` to find the 25th percentile of food in the category 'CHEESE' and the 75th percentile of the food in the category 'CORN'. Return a tuple containing the answers in the  respective order.

Return type: tuple

In [ ]:
def q8():
  # Write your code here
  cheese_25 = # Write your code here
  cookies_75 = # Write your code here
  return (cheese_25, cookies_75)

q8()


---

# Read the following files into dataframes: 

1. **LokSabhaMPs.xls** to the dataframe `mps`
2. Each sheet (there are six in total) of the file **Seventeenth Lok Sabha_Attendance.xlsx** to a list of DataFrames named `attendance`; i.e. each element of the list will be a DataFrame corresponding to a sheet in the file.

Preprocess, so that:

1. The dataframe `header` map to the row number where column names are listed.
2. Extra space at the end of `Member Name` are handled.

Description of the attendance dataset from http://loksabhaph.nic.in

---

S= The Member Signed the Register

S*= The Member signed through Mobile Attendance Application

S#= The Member signed through both the Register & Mobile Attendance Application

NS= The Member did not sign the register. (A Member might have attended the sitting of the House on a particular day but did not sign or forgot to sign the Register for that day )

NS@= Member was present but forgot to sign the Attendance Register

NR= Not Required. (Hon'ble Speaker, Deputy Speaker, Prime Minister and Minister usually do not sign the Members' Attendance Register)

In [ ]:
mps = # Write your code here

In [ ]:
attendance = []
# Write your code here

# Q9. Edit the function `q9` such that it returns the attendance percentage (not fraction) of 'Shri Arjun Singh' in the 6th session (sheet number 6).

*You may have to typecast the return value of the filter to float.*

Return type: float

In [ ]:
def q9():
  # Write your code here
  return # Write your code here
 
q9()

# Q10. Edit the function `q10` such that it returns the attendance percentage (not fraction) of 'Shri Manoj Tiwari' across all sessions.

*You may have to typecast the return value of the filter to float.*

Return type: float (default number of decimal places)

In [ ]:
def q10():
  # Write your code here
  return # Write your code here

q10()

# Q11. Edit the function `q11` such that it calculates the attendance percentages of each member for each session and adds that into a new column named `Attendance Percentage` in each DataFrame.

In [ ]:
def q11():
  # Write your code here

q11()

# Q12. Edit the function `q12` such that it merges `mps` and `attendance[0]` on the `Member Name` column into a new DataFrame named `merged`, and return `merged`. 

Drop the following columns: 
* `Division NO`
* `Member Name`
* `No. of days Members signed the Register`
* `No. of days Members not signed the Register`

Return type: pandas.core.frame.DataFrame

In [ ]:
def q12():
  merged = # Write your code here
  return merged

q12()

# Q13. Edit the function `q13` such that it groups the DataFrame `merged` based on the column `Party Name` into a DataFrame named `gby`. Return a call of `describe()` on `gby`.

Return type: pandas.core.frame.DataFrame

In [ ]:
def q13():
  # Write your code here
  return # Write your code here

q13()